
body{

    background-image: url(resimler/soft.jpg);
    
    background-size: cover;
    
    }

h2{
    padding: 30px;
    text-align: center;
}
#listele{
    font-size: large;
    
}
.row{
    padding: 10;
    
}

a{

    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
    font-size: larger;
}