body{

    background-image: url(resimler/izmir-2.jpg);
    
    
    background-size: cover;
    background-repeat:no-repeat;
}
.col-md-6{
   
    font-weight:bold ;
    color:black;
    padding:40px;
}