body{

    background-color: brown;
    background-color: lightsalmon;
   
    background-attachment: fixed;
    background-size: cover;
   
    
    }
    .container{
        margin-top: auto;
        
    }
    p{
  
        border-radius: 5px;
       
    }
    
    .yukseklik{
        height: 300px;
    }
    span{

        margin: 10px;
        padding: 20px;
        font-size: x-large;
    }
    .row{
        padding: 10;
        
    }
    
    a{
    
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
        font-size: larger;
    }
    
    