body{

    background-image:url(resimler/izmir-4yeni.jpg);
    background-attachment: fixed;
    background-size: cover;
   
    
    }

    p{
   background-color: azure;
        background-color: cornflowerblue;
        border-radius: 5px;
       
    }
    span{
        background-color: azure;
        background-color: cornflowerblue;
        border-radius: 5px;
    }
    .yukseklik{
        height: 300px;
    }
    